# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# 実行ファイルが格納されているディレクトリを除外
/lecture/executable_files/

# 練習問題ディレクトリ内のmarkdownファイルとC言語ソースファイル以外を除外
/exercises/*
!/exercises/*.md
!/exercises/*.c

# 実行に生成されるtxtファイルを除外
/lecture/sample_programs/*.txt

